DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=micolet_development
DATABASE_USER=postgres
DATABASE_PASSWORD=micolet
ABSTRACT_API_URL=https://emailvalidation.abstractapi.com/v1/
ABSTRACT_API_KEY=639df89fa5cc4eed990fb4744c4ebe17